<div id="newMeetingModal" class="reveal-modal" data-reveal>
  <form id="createNewMeeting" data-abide="ajax">
    <div class="row">
      <h3>Create A New Meeting</h3>
      <div class="large-12 columns">
        <label>* Name of the Meeting
          <input type="text" placeholder="My Super Cool Group Meeting" required pattern="^[a-zA-Z0-9\s]+$" class="meetingName">
        </label>
        <small class="error">Can only use alpha numeric characters</small>
      </div>
    </div>
    <div class="row triggers">
      <h4>JavaScript code to execute on Guest Checkin</h4>
      <p>Example code given below. <a id="moreHelpLink" href="/help#triggers">For more Information and Templates click here</a></p>
      <textarea id="onCheckIn" style="height:9rem;">
function() {
  mail({
    to      : \{{checkedIn.email}},
    from    : \{{organization.contact.email}},
    subject : Glad you had fun at: \{{meeting.name}},
    message : "
      Hi \{{checkedIn.name}},
      Hope you had fun at \{{organization.name}}'s event.  We sure did!.
      Cordially,
      \{{organization.contact.name}}
    ";
  });
}
       </textarea>
    <div class="row">
      <div class="large-12 columns">
        <button class="createAMeeting" type="submit">Create</button>
      </div>
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>