<div id="newMeetingModal" class="reveal-modal" data-reveal>
  <form id="createNewMeeting" data-abide="ajax">
    <div class="row collapse">
      <h3>Create A New Meeting</h3>
        <label>* Name of the Meeting
          <input type="text" placeholder="My Super Cool Group Meeting" required pattern="^[a-zA-Z0-9\s]+$" class="meetingName">
        </label>
        <small class="error">Can only use alpha numeric characters</small>
    </div>
    <div class="row collapse">
      <label>Send Email when guest checks in?
      <select class="sendEmailOnCheckin">
        <option value="false">Don't send any email</option>
        <option value="all">All Guests</option>
        <option value="new">Guests new to organization</option>
      </select>
    </div>
    <div class="row collapse triggers" style="display:none;">
      <div class="row">
        <label>To:
          <input id="email-to" type="text" value="\{{guest.email}}">
        </label>
      </div>
      <div class="row">
        <label>From:
          <input id="email-from" type="text" placeholder="\{{organization.email}}">
        </label>
      </div>
      <div class="row">
        <label>Subject:
          <input id="email-subject" type="text" placeholder="\{{organization.name}} welcomes you to \{{meeting.name}}">
        </label>
      </div>
      <div class="row">
        <label>Message:
          <textarea id="email-message" style="height:9rem;">
Hi \{{guest.name.first}} \{{guest.name.last}},

Hope you had fun at \{{organization.name}}'s event.  We sure did!.

Cordially,
\{{organization.name}}
         </textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <button class="createAMeeting" type="submit">Create</button>
      </div>
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>