<li>
  <a class="th" href="/organizations/{{orgId}}">
    <h4>
      {{#if short_name}}
        {{short_name}}
      {{else}}
        {{name}}
      {{/if}}
    </h4>
    <img src="{{logo_path}}"></img>
  </a>
</li>